/* $Grids
================================================== */

// Bureau Responsive Grid
// Based on CSS Wizardry / Harry Roberts Grid System
// Author	: Daniel Pavitt - @dpvitt
// URL		: http://danielpavitt.com / http://bureau-va.com
//
// =================================================================================

// Grid default variable
$totalColumns  	: 12;
$columnWidth 	: 60px;
$gutterWidth  	: 20px;
$gridWidth      : $totalColumns * ($columnWidth + $gutterWidth);

// Grid Calculation for Percentages
@function col($n) {
	@return percentage( ( $n * ($columnWidth + $gutterWidth) ) / $gridWidth );
}

// Each column
@mixin column($n) {
	width: col($n);
	margin-left: percentage( $gutterWidth / $gridWidth );
}

// Grid container
.grids {
	width: auto;
	max-width: $gridWidth;
	margin-left: -(percentage( $gutterWidth / $gridWidth ));
	clear: both;
	list-style: none;
	overflow: hidden;
}

// Generates placeholders instead of styles, these won't be output in our CSS
@for $i from 1 to $totalColumns {
	%grid-#{$i}{
		float: left;
		@include column($i);
	}
}

/*
 *	We can then extend the placeholder into our selector to keep semantic values
 *	and scalable grids:
 * 
 *	sidebar {
 *		@extend %grid-1;
 *	}
 *
 *
 */
